<!DOCTYPE html>
<html>
	<head>	
		<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" type="text/css">		
	</head>
	<body>
		<div class="container">
			<div id="homeTitle"><h1>Home Page</h1></div>
			<nav>
				<a href="/about">About <span class="bold">Page</span></a>
				<a href="/blogpost">Blog Form</a>
			</nav>
			<div>
			
				<img src="img/mush.jpg" />
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor facilisis urna quis hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed laoreet imperdiet molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ut blandit quam. Etiam egestas metus lacus, eget mattis odio ultrices quis. Maecenas molestie purus nec ex ultricies molestie. Maecenas fringilla ante nec lectus aliquet, non sodales purus maximus. Aliquam sagittis turpis quis tellus efficitur, et ullamcorper augue auctor. Morbi ultricies feugiat magna, vitae mollis diam. Aliquam erat volutpat.</p>
		
				<p>Quisque ex velit, condimentum a nulla et, dignissim pharetra dui. Maecenas tempus ornare neque, eu sodales nunc viverra sit amet. Nam facilisis leo tortor, a consequat diam luctus ac. Quisque eu metus dictum, bibendum felis ut, dictum felis. Pellentesque nec libero quis eros vestibulum ornare. Fusce mattis arcu vitae dolor placerat, a luctus libero condimentum. Cras pharetra scelerisque quam sed faucibus. Vivamus sollicitudin vitae diam non tempor. Etiam vel fermentum orci, ut condimentum tellus. Etiam efficitur tincidunt maximus. Etiam non sem nec sapien varius tincidunt. Sed non sem dapibus, pharetra metus quis, vehicula ligula. Quisque dictum orci quis pellentesque vestibulum.</p>
			</div>
		</div>
		<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
		<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
